{% extends is_granted('ROLE_ADMIN')
? 'MPTimeSheetBundle::layout.html.twig'
: 'MPTimeSheetBundle::layoutUser.html.twig'
%}

{% block title %}
    Mes Feuilles de temps - {{ parent() }}
{% endblock %}

{% block timeSheet_body -%}
    <div class="panel-group">
        {% for day in week %}
            <div class="panel
                {% if day.day == today %}
                    panel-primary
                {% elseif day.weekDay == 'Dimanche' or day.weekDay == 'Samedi' %}
                    panel-danger
                {% elseif day.weekDay == 'Vendredi' %}
                    panel-warning
                {% else  %}
                    panel-default
                {% endif %}"
            >
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 date" >
                            <div class="row" style="text-align: center;">
                                {{ day.weekDay }}
                            </div>
                            <div class="row" style="text-align: center;">
                                    {{ day.day|date('d') }}
                                    {{ day.month }}
                            </div>
                        </div>
                        {% if day.timeSheet is not null %}
                        <div class="col-md-3 tspanel">
                            <ul class="list-group" style="margin: 0px">
                                <li class="list-group-item">Nombre d'heures: {{ day.timeSheet.hourNumber }}</li>
                                <li class="list-group-item">{{ day.timeSheet.mission }}</li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            {% if day.timeSheet.comment %}
                                {{ day.timeSheet.comment }}
                            {% else %}
                                <p class="text-muted" style="text-align: center;">pas de commentaire.</p>
                            {% endif %}
                        </div>
                        <div class="col-md-2 tspanel">
                            <div class="row" >
                                <div class="col-md-6"><h4>Congé:</h4></div>
                                <div class="col-md-6">
                                {% if day.timeSheet.holiday %}
                                    <span style="font-size:1.5em;" class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span style="font-size:1.5em;" class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><h4>Validée:</h4></div>
                                <div class="col-md-6">
                                {% if day.timeSheet.validated %}
                                    <span style="font-size:1.5em;" class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span style="font-size:1.5em;" class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="col-md-10" >
                                {% if day.creatable %}
                                    <a href="{{ path('timesheet_new', {'id': day.diffId}) }}">
                                        <span style="font-size:2em; float: right;" class="glyphicon glyphicon-plus-sign">
                                        </span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row pageControl">
            <a href="{{ path('timesheet_page', { 'page': page+1 }) }}">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
            <a href="{{ path('timesheet_page', { 'page': 1 }) }}">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <a href="{{ path('timesheet_page', { 'page': page-1 }) }}">
                <span class="glyphicon glyphicon-forward"></span>
            </a>
        </div>
    </div>

{% endblock %}
