{% extends is_granted('ROLE_ADMIN')
? 'MPTimeSheetBundle::layout.html.twig'
: 'MPTimeSheetBundle::layoutUser.html.twig'
%}


{% block title %}
    Mes Feuilles de temps - {{ parent() }}
{% endblock %}

{% block timeSheet_body -%}
    <h2>Mes feuilles de temps:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Jour</th>
            <th>Mission</th>
            <th>Commentaire</th>
            <th>Nombre d'heures</th>
            <th>Congé</th>
            <th>Validée</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {{ dump(entity) }}
            <tr>
                <td><a href="{{ path('timesheet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.day|date("m/d/Y") }}</td>
                <td>{{ entity.mission }}</td>
                <td>{% if entity.comment %}
                        {{ entity.comment }}
                    {% else %}
                        <p class="text-muted">pas de commentaire.</p>
                    {% endif %}
                </td>
                <td>{{ entity.hourNumber }}</td>
                <td>{% if entity.holiday %}
                        <span style="font-size:1.5em;" class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span style="font-size:1.5em;" class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                <td>
                    {% if entity.validated %}
                        <span style="font-size:1.5em;" class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span style="font-size:1.5em;" class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>
                    {% if entity.validated == false %}
                        <a href="{{ path('timesheet_edit', { 'id': entity.id }) }}">
                            <span style="font-size:1.5em;" class="glyphicon glyphicon-edit"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a style="float: right" href="{{ path('timesheet_new') }}">
        <span style="font-size:1.5em;" class="glyphicon glyphicon-plus-sign"></span> nouvelle feuille
    </a>

{% endblock %}
