{% extends 'MPTimeSheetBundle::layout.html.twig' %}

{% block title  %}
    Ajout Collaborateur
{% endblock %}

{% block body -%}
    <h2>Nouveau collaborateur:</h2>
    {{ dump(form) }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.surname) }}
        {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.department) }}
        {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.post) }}
        {{ form_widget(form.post, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.submit) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-default'}}) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <a style="float:left" href="{{ path('mission') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> retour à la liste
    </a>

{% endblock %}
