{% for entity in entities %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ entity }}
            <span style="float: right">Terminée le {{ entity.realEndDate|date("d/m/Y") }}</span>
        </div>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 text-left">Date de début: {{ entity.startDate|date("d/m/Y") }}</div>
                        <div class="col-md-4 text-center">{{ entity.realHourNum }}/{{ entity.hourNum }}</div>
                        <div class="col-md-4 text-right">Date de fin prevue: {{ entity.endDate|date("d/m/Y") }}</div>
                    </div>
                </li>
                <li class="list-group-item">Client: {{entity.clients}}</li>
                <li class="list-group-item">Nature: {{ entity.nature }}</li>
            </ul>
            <table class="table">
                <thead>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Poste</th>
                <th>Heures</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
                </thead>
                <tbody>
                {% for assoc in entity.associate %}
                    <tr>
                        <td>{{ assoc.associate.name }}</td>
                        <td>{{ assoc.associate.surname }}</td>
                        <td>{{ assoc.associate.email }}</td>
                        <td>{{ assoc.associate.post}}</td>
                        <td>{{ assoc.hourNum }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('mission_show', { 'id': assoc.associate.id }) }}">
                                    <span style="font-size:1.5em;" class="glyphicon glyphicon-user"></span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="progress">
                {%  set progress = (entity.realHourNum / entity.hourNum)*100 %}
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%; height: 150%">
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% if is_granted('ROLE_ADMIN') %}
    <div style="float: right;">
        <a href="{{ path('mission_new') }}">
            <span class="glyphicon glyphicon-plus-sign"></span> nouvelle mission
        </a>
    </div>
{% endif %}